Django~=6.0.7
automium_web~=0.1.1
djangorestframework~=3.15.2
views~=0.3
pathlib~=1.0.1
djangorestframework>=3.14
django-cors-headers>=4.0
psycopg2-binary>=2.9  # Pour PostgreSQL
mysqlclient>=2.2      # Pour MySQL
python-dotenv>=1.2.2    # Pour gérer les variables d'environnement
dj-database-url>=1.0  # Pour parser DATABASE_URL
gunicorn>=21.2        # Serveur WSGI pour la production
whitenoise>=6.6       # Pour servir les fichiers statiques en production
pillow>=12.3.0          # Pour gérer les images (si vous en utilisez)
djangorestframework-simplejwt>=5.3  # Si vous utilisez JWT